* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

/* Reset */
ul {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* CSS Variables */
:root {
   --almost-black: rgba(0, 0, 0, 0.6);
   --black: #111111;
   --white: #FFFFFF;
}

body {
   width: 100%;
   min-height: 100vh;
   background-color: var(--black);
   font-family: 'Inter', sans-serif;
}

section {
   scroll-margin: 75px;
}

/* START of the Header section */
.header {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 100px;
   background-color: var(--almost-black);
   backdrop-filter: blur(8px);
   z-index: 1;
}

.nav {
   display: flex;
   align-items: center;
   z-index: 1;
}

.logo {
   height: 70px;
   animation: rotate 3s linear infinite;
   transform: rotateY(0deg);
   transform-style: preserve-3d;
   perspective: 1000px;
}

/* Logo rotate animation */
@keyframes rotate {
   0% {
      transform: rotateY(360deg);
   }

   100% {
      transform: rotateY(0deg);
   }
}

.toggle,
.close {
   display: none;
}

.toggle ion-icon,
.close ion-icon {
   color: var(--white);
   font-size: 50px;
   cursor: pointer;
}

.nav__list {
   display: flex;
   align-items: center;
   gap: 50px;
}

.nav__link {
   color: var(--white);
   font-size: 20px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 3px;
   position: relative;
}

.nav__link::after {
   position: absolute;
   content: "";
   bottom: -4px;
   left: 0;
   width: 0;
   height: 2px;
   background-color: var(--white);
   transition: all .3s;
}

.nav__link:hover::after {
   width: 100%;
}

/* ====== HOME SECTION ====== */
.home {
   width: 100%;
   height: 100vh;
}

.video-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}

video {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.home__content {
   padding: 160px 100px;
}

.home__title {
   color: var(--white);
   font-size: 82px;
   font-weight: 900;
   text-transform: uppercase;
   letter-spacing: 3px;
}

.home__description {
   color: var(--white);
   font-size: 20px;
   margin: 20px 0;
   max-width: 680px;
}

.home__btn {
   display: inline-block;
   color: var(--black);
   font-weight: 700;
   border: 3px solid var(--white);
   background-color: var(--white);
   padding: 15px 30px;
   transition: all .3s;
}

.home__btn:hover {
   color: var(--white);
   background-color: transparent;
}


/* ====== ABOUT & SESH SECTION ====== */
.about__section {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background: var(--white);
}

.sesh {
   flex-direction: row-reverse;
}

.left-side,
.right-side {
   width: 50%;
   height: 550px;
}

.left-side img {
   background-position: center;
}

.right-side {
   padding: 50px;
}

.about__title {
   font-size: 42px;
   margin-bottom: 10px;
}

.about__description {
   font-size: 18px;
}

.about__description:nth-child(2) {
   margin: 10px 0;
}

/* ====== ALBUMS SECTION ====== */
.albums__section {
   width: 100%;
   padding: 80px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.album {
   width: 350px;
   height: 350px;
   transition: all .3s ease;
}

.album:hover {
   transform: scale(1.05);
}

/* ====== FOOTER ====== */
.footer {
   background-color: var(--white);
   width: 100%;
}

.social__links {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   padding: 20px;
}

.social__links a i {
   font-size: 60px;
   color: var(--black);
}

.social__links a:hover {
   color: var(--black);
   transform: scale(1.2);
   transition: all .3s ease;
}

/* ====== RESPONSIVE ====== */
@media all and (max-width: 428px) {

   /* Header */
   .header {
      padding: 0 10px;
      height: 80px;
   }

   .toggle,
   .close {
      display: block;
   }

   .close {
      position: absolute;
      top: -70px;
      right: 10px;
   }

   .nav {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: var(--almost-black);
      backdrop-filter: blur(8px);
      display: none;
   }

   .nav.active {
      display: block;
   }

   .nav__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px 0 50px;
   }

   .nav-link {
      font-size: 2rem;
   }

   /* Home */
   .home__content {
      padding: 160px 10px;
   }

   .home__title {
      font-size: 2.625rem;
   }

   .home__description {
      font-size: 18px;
      padding-right: 0;
   }

   .home__btn {
      padding: 20px 30px;
      font-size: 1.25rem;
   }

   /* About */
   .left-side,
   .right-side {
      width: 100%;
      height: auto;
   }

   /* Albums */
   .albums__section {
      justify-content: center;
      gap: 20px;
   }

   .right-side {
      padding: 20px;
   }

   /* Footer */
   .social__links a i {
      font-size: 40px;
   }
}


@media all and (max-width: 800px) {

   /* Header */
   .header {
      padding: 0 10px;
      height: 80px;
   }

   .toggle,
   .close {
      display: block;
   }

   .close {
      position: absolute;
      top: -70px;
      right: 10px;
   }

   .nav {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: var(--almost-black);
      backdrop-filter: blur(8px);
      display: none;
   }

   .nav.active {
      display: block;
   }

   .nav__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px 0 50px;
   }

   .nav-link {
      font-size: 2rem;
   }

   /* Home */
   .home__content {
      padding: 220px 25px 0;
   }

   .home__title {
      font-size: 2.625rem;
   }

   .home__description {
      font-size: 18px;
      padding-right: 0;
   }

   .home__btn {
      padding: 20px 30px;
      font-size: 1.25rem;
   }

   /* About */
   .left-side,
   .right-side {
      /* width: 100%; */
      height: 600px;
   }

   .right-side {
      padding: 20px;
   }

   .about__title {
      font-size: 38px;
   }

   .about__description {
      font-size: 16px;
   }

   /* Albums */
   .albums__section {
      justify-content: center;
      padding: 40px 0;
      gap: 20px;
   }

   /* Footer */
   .social__links a i {
      font-size: 40px;
   }
}